<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout/cabecalho}">
	<title>Agendalize</title>
</head>

<body>

	<div th:insert="~{layout/menuEmpresa}"></div>


	<main id="container">

		<div>
			<h1>Gerencie suas Agendas</h1>
			<p>Cadastre aqui as suas agendas!</p>
			<button class="btn"><a class="link-description" href="/cadastroAgenda">Cadastrar Agenda</a></button>
		</div>


		<!--Começa lista de docentes -->
		<br>
		<h5 class="card-title">Agendas cadastrados</h5>
		<table id="example" class="display" style="width:90%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Data inicial</th>
					<th>Data final</th>
					<th>Descrição</th>
					<th class="col-1">Alterar</th>
					<th class="col-1"> Excluir</th>
					<th class="col-1">Ajustar semana</th>
					<th class="col-1"> Indisponibilizar datas</th>
					<th class="col-1"> Consultar
						Agendamentos</th>



				</tr>
			</thead>
			<tbody>
				<tr th:each="agenda : ${agendas}">
					<td th:text="${agenda.IdAgenda}"></td>
					<td th:text="${agenda.NomeAgenda}"></td>
					<td th:text="${agenda.DataDisponivelInicial}"></td>
					<td th:text="${agenda.DataDisponivelFinal}"></td>
					<td th:text="${agenda.DescricaoAgenda}"></td>
					<td><a class="btn" id="btn1"
							th:href="@{alterar_agenda/{idAgenda}(idAgenda=${agenda.IdAgenda})}">Alterar</a>
					</td>

					<td>
						<a class="btn" id="btn4" th:href="@{excluir_agenda/{idAgenda}(idAgenda=${agenda.IdAgenda})}"
							onclick="if (confirm('Deseja realmente excluir a agenda?')){return true;}else{event.stopPropagation(); event.preventDefault();};">
							Excluir
						</a>
					</td>
					<td><a class="btn" id="btn2"
							th:href="@{configurar_semana/{idAgenda}(idAgenda=${agenda.IdAgenda})}">Ajustar</a>
					</td>
					<td><a class="btn" id="btn3"
							th:href="@{configurar_data_indisponivel/{idAgenda}(idAgenda=${agenda.IdAgenda})}">Ajustar</a>
					</td>

					<td><a class="btn" id="btn5"
							th:href="@{consultar_agendamentos/{idAgenda}(idAgenda=${agenda.IdAgenda})}">Consultar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!--Termina lista de agenda -->


</body>
<script>
	new DataTable('#example', {
		layout: {

			topStart: {
				buttons: [
					{
						extend: 'print',
						exportOptions: {
							columns: ':visible'
						}
					},
					'colvis'
				]
			}
		},
		columnDefs: [
			{
				targets: 0,
				visible: false
			}
		]
	});
</script>
<style>
	.btn {
		font-size: 15px;
	}

	#btn1 {
		
	}

	#btn {
		background-color: green;
		color: black;

	}

	#btn {
		background-color: blue;
		color: black;


	}

	#btn4 {

	}

	#btn {
		background-color: blue;
		color: black;

	}

	main {
		padding: 10px;
	}
</style>

</html>