<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout/cabecalho}">
	<title>Alterar agenda</title>
</head>


<body>
	<div th:insert="~{layout/menu}"></div>


	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 col-sm-12 col-xs-12">
				<div class="card p-4 p-md-4 my-4 mx-3 mx-md-0 text-white">
					<h6>Alterar Agenda</h6>
					<p>Formulario de Alteração da agenda.</p>



					<form name="alterar_agenda" class="form-horizontal" method="POST" th:action="@{/alterar_agenda}"
						th:object="${agendaEntity}">

						<input type="hidden" name="empresa" id="empresa"
							th:value="${agenda.empresa.idEmpresa}">
							<input type="hidden" name="idAgenda" id="idAgenda"
							th:value="${agenda.idAgenda}">

						<div class="alert alert-sucess" th:text="${mensagem}" th:if="${not #strings.isEmpty(mensagem)}">
						</div>

						<div class="form-group">
							<label> Nome da agenda </label>
							<input type="text" class="form-control" id="nomeAgenda" name="nomeAgenda"
								placeholder="Nome" th:value="${agenda.nomeAgenda}" required>

						</div>
						<div class="form-group">
							<label> Data Inicial </label>
							<input type="date" class="form-control" id="dataDisponivelInicial" name="dataDisponivelInicial"
								placeholder="yyyy-mm-dd" th:value="${agenda.dataDisponivelInicial}" required>

						</div>
						<div class="form-group">
							<label> Data final </label>
							<input type="date" class="form-control" id="dataDisponivelFinal" name="dataDisponivelFinal"
								placeholder="yyyy-mm-dd" th:value="${agenda.dataDisponivelFinal}" required>

						</div>

						<div class="form-group">
							<label> Descrição da Agenda </label>
							<input type="text" class="form-control" id="descricaoAgenda" name="descricaoAgenda"
								placeholder="Descrição da agenda" th:value="${agenda.descricaoAgenda}" required>

						</div>

						<button type="submit" class="col-12 btn">alterar</button>
					</form>
				</div>
			</div>
		</div>
	</div>






	<div th:insert="~{layout/rodape}"></div>
</body>

</html>