<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout/cabecalho}">
	<title>Agendalize</title>
</head>

<body>

	<div th:insert="~{layout/menuEmpresa}"></div>


	<main id="container">

		<div>
			<h1>Gerencie seus Clientes</h1>
			<p>Cadastre aqui as seus clientes!</p>
			<button class="btn"><a class="link-description" href="/cadastro_cliente">Cadastrar Cliente</a></button>
		</div>

		<div class="alert alert-sucess" th:text="${mensagem}" th:if="${not #strings.isEmpty(mensagem)}"></div>
		<!--Começa lista de clientes -->
		<br>
		<h5 class="card-title">Clientes cadastrados</h5>
		<table id="example" class="display" style="width:90%">
			<thead>
				<tr>
					<th>ID</th>
					<th>CPF do cliente</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Endereço</th>
					<th>Telefone</th>
					<th class="col-1">Alterar</th>
					<th class="col-1">Excluir</th>
					<th class="col-1">Realizar Agendamentos</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente : ${clientes}">
					<td th:text="${cliente.IdCliente}"></td>
					<td th:text="${cliente.CpfCliente}"></td>
					<td th:text="${cliente.NomeCliente + ' ' + cliente.SobrenomeCliente}"></td>
					<td th:text="${cliente.EmailContatoCliente}"></td>
					<td th:text="${cliente.EnderecoCliente + ' ' + cliente.CepCliente}"></td>
					<td th:text="${cliente.TelefoneCliente}"></td>
					<td><a class="btn btn-sm btn-warning"
							th:href="@{alterar_cliente/{idCliente}(idCliente=${cliente.idCliente})}">Alterar</a></td>
					<td>
						<a class="delete btn btn-sm btn-danger"
							th:href="@{excluir_cliente/{idCliente}(idCliente=${cliente.IdCliente})}"
							onclick="if (confirm('Deseja realmente excluir o cliente?')){return true;}else{event.stopPropagation(); event.preventDefault();};">
							Excluir
						</a>
					</td>
					<td><a class="btn btn-sm btn-warning"
							th:href="@{cadastro_agendamento/{idCliente}(idCliente=${cliente.idCliente})}">Realizar</a></td>
				</tr>
			</tbody>
		</table>
		<!--Termina lista de cliente -->


</body>
<script>
	new DataTable('#example', {
		layout: {

			topStart: {
				buttons: [
					{
						extend: 'print',
						exportOptions: {
							columns: ':visible'
						}
					},
					'colvis'
				]
			}
		},
		columnDefs: [
			{
				targets: -1,
				visible: false
			}
		]
	});
</script>
<style>
	main{
		padding: 15px;
	}

</style>

</html>