<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout/cabecalho}">
	<title>Agendalize</title>
</head>

<body>

	<div th:insert="~{layout/menu}"></div>

	<section class="empresa" id="empresa">
		<div class="section_container empresa_container">
			<div class="empresa_content">
				<div th:if="${empresa == null}" sec:authorize="hasAnyAuthority('admin','empresa')">
					<p class="section_description">Para finalizar o seu cadastro informe os dados da sua empresa!</p>
					<button class="btn"><a class="link-description" href="/cadastroEmpresa">Cadastrar
							Empresa</a></button>
				</div>
				<p class="section_subheader">EMPRESA</p>
				<h2 class="section_header">Utilidades para sua empresa.</h2>
				<ul class="empresa_list">
					<li>
						<span><i class="ri-calendar-line"></i></span>
						Agenda
					</li>
					<li>
						<span><i class="ri-dashboard-2-line"></i></span>
						Dashboard
					</li>
					<li>
						<span><i class="ri-survey-line"></i></span>
						Formulario
					</li>
					<li>
						<span><i class="ri-table-line"></i></span>
						Tabela
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="section_container about_container" id="about">
		<div class="about_image">
			<img src="/img/About.png" alt="about">
		</div>
		<div class="about_content">
			<p class="section_subheader">SOBRE NÓS</p>
			<h2 class="section_header">Sistema de Gereciamento de Agendamentos!</h2>
			<p class="section_description"> Bem-vindo ao Agendalize!

				Somos uma equipe dedicada a simplificar a maneira como você gerencia seus agendamentos. No
				mundo agitado de hoje, sabemos o quão valioso é o seu tempo. É por isso que desenvolvemos uma solução
				inteligente e intuitiva para ajudar empresas e profissionais autônomos a organizar suas agendas de forma
				eficiente.

			</p>
			<div class="about_btn">
				<button class="btn"><a href="/sobreNos"></a>Leia Mais</button>
			</div>
		</div>
	</section>




	<div th:insert="~{layout/rodape}"></div>

</body>
<script>

	//about script
	ScrollReveal().reveal(".about_image img", {
		...scrollRevealOption,
		origin: "left",
	});

	ScrollReveal().reveal(".about_content .section_subheader", {
		...scrollRevealOption,
		delay: 500,
	});

	ScrollReveal().reveal(".about_content .section_header", {
		...scrollRevealOption,
		delay: 1000,
	});

	ScrollReveal().reveal(".about_content .section_description", {
		...scrollRevealOption,
		delay: 1500,
	});

	ScrollReveal().reveal(".about_btn", {
		...scrollRevealOption,
		delay: 2000,
	});
	// empresa container
	ScrollReveal().reveal(".empresa_list li", {
		...scrollRevealOption,
		interval: 500,
		origin: "right",
	});
</script>

</html>