<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout/cabecalho}">
	<title>SOBRE NÓS</title>
</head>

<body>

	<div th:insert="~{layout/menu}"></div>
	
	<div>
		<section class="section_container about_container" id="about">
			<div class="about_image">
				<img src="layout/css/sobrenos.png" alt="about">
			</div>
			<div class="about_content">
				<p class="section_subheader">Sobre Nós</p>
				<h2 class="section_header">As Melhores Agendas você encontra aqui!</h2>
				<p class="section_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
					veritatis rerum nemo cupiditate ex libero, omnis quo vero dolores iusto dignissimos asperiores
					accusamus mollitia, repellendus maxime tempore numquam quas! Harum?</p>
				<p class="section_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tenetur
					ex cum, vel quia ab harum, delectus magnam tempore nisi quas voluptates rerum mollitia, deserunt
					enim? Temporibus odit quisquam amet.</p>
			</div>
		</section>
	</div>





</body>
<div th:insert="~{layout/rodape}"></div>

</html>